<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'webpage_css/events.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Upcoming Events</h1>
    {% for event in events %}

        <div class="event">
            <h2>{{ event.name }} </h2>
            <p><strong>Date:</strong> {{ event.date }}</p>
            <p>{{ event.description }}</p>
        </div>
        
    {% endfor %}
    
</body>
</html>