<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'webpage_css/home.css'%}">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Our Projects</h1>
    {% for project in projects %}
    <div class="projects">
        <h2>{{ project.name }}</h2>
        <p>{{ project.description }}</p>
    </div>
    {% endfor %}
</body>
</html>